package components

templ AddIconButton(attributes templ.Attributes) {
	<button
		class="icon contrast ghost"
		{ attributes... }
		title="Edit"
	>
		<i class="bi bi-plus-circle"></i>
	</button>
}

templ EditIconButton(attributes templ.Attributes) {
	<button
		class="icon secondary ghost"
		{ attributes... }
		title="Edit"
	>
		<i class="bi bi-pencil-square"></i>
	</button>
}
