[Unit]
Description=PicoW LED server for handling microcontroller devices
After=network.target

[Service]
ExecStart=picow-led-server -d -c $HOME/.config/picow-led-server/api.json

[Install]
WantedBy=default.target
