html:has(dialog[open]),
body:has(dialog[open]) {
	overflow: hidden;
}

.app-bar {
	z-index: 1000;
}

.app-bar ~ * {
	padding-top: calc(var(--ui-app-bar-height) + 1rem);
}

details summary::after {
	font-family: "bootstrap-icons";
	content: "\f285";
}

details[open] summary::after {
	content: "\f282";
}
