package components

import (
	"github.com/knackwurstking/picow-led/components"
	"net/http"
)

const (
	IDNewDevice = "new-device-dialog"
)

templ NewDeviceDialog(oob bool, err error) {
	@components.Dialog(components.DialogProps{
		ID:               IDNewDevice,
		Method:           http.MethodPost,
		Href:             components.HxUrlEditDeviceDialog(nil),
		SubmitButtonText: "Create",
		OOB:              oob,
		Error:            err,
	}) {
		@editDeviceDialogContent("", "", "")
	}
}
