{{ define "content" }}
<div
    class="_content devices ui-container ui-auto-scroll ui-hide-scrollbar"
    style="
        height: 100%;
        padding-top: calc(var(--ui-app-bar-height) + var(--ui-spacing));
    "
>
    <span class="list ui-flex column gap align-center"></span>
</div>

<template name="device-list-item">
    <!--
        .device-list-item: root element: data-addr (string)
            .title
            button.edit: data-addr (string), routes to "/devices/:addr"
            .power-button (component)
    -->
    <section
        class="device-list-item ui-flex row gap justify-between align-center ui-padding"
        style="width: 100%"
        data-addr
    >
        <h3 class="title ui-padding"></h3>

        <span class="ui-flex-item ui-flex row gap" style="flex: 0">
            <span class="ui-flex-item" style="flex: 0">
                <button
                    class="edit"
                    data-ui-variant="ghost"
                    data-ui-color="secondary"
                    data-addr
                    onclick="location.pathname = '{{ .ServerPathPrefix }}/devices/' + encodeURIComponent(this.getAttribute('data-addr'))"
                >
                    Edit
                </button>
            </span>

            <span class="ui-flex-item" style="flex: 0">
                <!-- data-state: "on" | "off" | "processing" -->
                <button
                    class="power-button"
                    style="width: 3rem; height: 3rem; overflow: visible"
                    data-ui-variant="ghost"
                    data-ui-icon
                    data-state
                >
                    <div
                        class="background"
                        style="background-color: rgb(0, 0, 0)"
                    ></div>

                    {{ block "component-svg-power" . }} {{ end }}
                </button>
            </span>
        </span>
    </section>
</template>

<script src="{{ .ServerPathPrefix }}/js/devices.js"></script>
{{ end }}
