{{ define "content" }}
<div
    class="_content devices ui-container ui-auto-scroll ui-hide-scrollbar"
    style="
        height: 100%;
        padding-top: calc(var(--ui-app-bar-height) + var(--ui-spacing));
    "
>
    <span class="list ui-flex column gap align-center">
        {{ range $device := .Devices() }}
            {{ template "device-list-item" (arr .ServerPathPrefix $device) }}
        {{ end }}
    </span>
</div>

<script src="{{ .ServerPathPrefix }}/js/content/devices.js"></script>
{{ end }}
