<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.picow-led</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/picow-led</string>
        <string>server</string>
        <string>-path-prefix</string>
        <string>/picow-led</string>
        <string>-addr</string>
        <string>:50836</string>
        <string>-log-format</string>
        <string>text</string>
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/var/log/picow-led.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/picow-led.log</string>

    <key>WorkingDirectory</key>
    <string>/var/log</string>
</dict>
</plist>
