package pages

import "github.com/knackwurstking/picow-led/internal/components/layout"

templ Device() {
	@layout.Layout(layout.Props{
		Class: "px-4",
		Lang:  "de",
		Title: "PicoW LED",
	}) {
		// TODO: ...
		<p>Device Kontrolle</p>
	}
}
