package components

templ AddIconButton(url templ.SafeURL) {
	{{
		props := &HXProps{
			Get:     url,
			Target:  "body",
			Swap:    "beforeend",
			Trigger: "click",
		}
	}}
	<button
		class="icon contrast ghost visible"
		{ props.Attributes()... }
		title="Edit"
	>
		<i class="bi bi-plus-circle"></i>
	</button>
}
