package components

templ AddIconButton(props *HXProps) {
	<button
		class="icon contrast ghost visible"
		{ props.Attributes()... }
		title="Edit"
	>
		<i class="bi bi-plus-circle"></i>
	</button>
}
