package components

templ deviceListItem() {
<div class="device-list-item ui-flex column gap justify-between">
    <div class="ui-flex row gap">
        <div class="name"></div>
        <div class="color"></div>
    </div>
    @powerButton()
</div>
}
