package components

type InputProps struct {
	ID          string
	Type        string
	Label       string
	Description string
	Value       string
	Required    bool
}

templ Input(props InputProps) {
	<label for={ props.ID }>{ props.Label }</label>
	<input
		type={ props.Type }
		id={ props.ID }
		name={ props.ID }
		placeholder={ props.Description }
		value={ props.Value }
		required?={ props.Required }
	/>
}
