package components

import "picow-led/internal/api"

type PageDevicesData struct {
*BaseData
Servers []*api.Server
}

templ PageDevices(data *PageDevicesData) {
<main>
    @deviceListItem()
    <script src={ data.ServerPathPrefix + "/js/api.js" }></script>
    <script src={ data.ServerPathPrefix + "/js/page-devices.js" }></script>
</main>
}
