package components

type PageDevicesData struct {
*BaseData
}

// TODO: Using template html tag for device list item
templ PageDevices(data *PageDevicesData) {
<main>
    <p>Devices Page</p>
    <script src={ data.ServerPathPrefix + "/api.js" }></script>
    <script src={ data.ServerPathPrefix + "/page-devices.js" }></script>
</main>
}
