package components

import "picow-led/internal/api"

type PageDevicesData struct {
*BaseData
Servers []*api.Server
}

// TODO: Rendering device list items
templ PageDevices(data *PageDevicesData) {
<main>
    for _, server := range data.Servers {
    @DeviceItem(server)
    }
    <script src={ data.ServerPathPrefix + "/js/api.js" }></script>
    <script src={ data.ServerPathPrefix + "/js/page-devices.js" }></script>
</main>
}
