package components

templ PageHome() {
	@Layout(
		LayoutOptions{
			PageTitle:      "PicoW LED",
			AdditionalHead: PageHome_AdditionalHead(),
		},
	) {
		// TODO: ...
	}
}

templ PageHome_AdditionalHead() {
}
