package internalscripts

script WindowAPI(serverPathPrefix string) {
    function url() {
        return serverPathPrefix + ``; // TODO: ...
    }

    function devices() {
        const url = this.url() + "/api/devices";

        // TODO: GET "/api/devices"

        return [];
    }

    window.api = {
        url,
        devices,
    }
}
