{{ define "content" }}
<div class="_content devices-addr ui-container ui-auto-scroll ui-hide-scrollbar"
    style="height: 100%; padding-top: var(--ui-app-bar-height);">

    <div class="ui-flex column gap">

        <h2>Color Storage</h2>

        <div class="color-storage-container ui-flex row gap wrap"></div>

    </div>

</div>

<!-- TODO: Need an add new item color storage item -->

<template name="color-storage-item">
    <!-- TODO: Need a remove button somewhere -->

    <div class="color-storage-item ui-border ui-padding" style="width: 7rem; height: 3.5rem;" data-color>
        <div style="background-color: currentColor; color: inherit; width: 100%; height: 100%; border-radius: inherit;">
        </div>
        <input type="color">
    </div>

</template>

<script>
    //{{ block "script-page-devices-addr" . }}
    //{{ end }}
</script>
{{ end }}
