{{ define "content" }}
<div class="_content devices-addr ui-container ui-auto-scroll ui-hide-scrollbar"
    style="height: 100%; padding-top: var(--ui-app-bar-height);">

    <div class="ui-flex column gap">

        <!-- TODO: Add color picker -->
        <div class="color-picker"></div>

        <!-- TODO: Add color cache container -->
        <div class="color-cache-container ui-flex row gap wrap justify-center"></div>

    </div>

</div>


<template name="color-cache-item">
    <!--
        .color-cache-item
    -->

    <span class="color-cache-item">
        <!-- TODO: Create the color cache item here -->
    </span>

</template>

<script>
    //{{ block "script-devices-addr" . }}
    //{{ end }}
</script>
{{ end }}
