{{ define "content" }}
<div class="_content devices-addr ui-container ui-auto-scroll ui-hide-scrollbar"
    style="height: 100%; padding-top: var(--ui-app-bar-height);">

    <div class="ui-flex column gap">

        <h2>Color Picker</h2>

        <!-- TODO: Add color picker -->
        <div class="color-picker">
            <i class="ui-padding-x">Under Construction</i>
        </div>

        <h2>Color Cache</h2>

        <div class="color-cache-container ui-flex row gap wrap"></div>

    </div>

</div>


<template name="color-cache-item">
    <!--
        .color-cache-item: just set the current color and call it a day, the 
                           title attribute should be set to the color name
    -->

    <div class="color-cache-item ui-border" style="width: 2.5rem; height: 2.5rem;" title="">
        <div style="background-color: currentColor; color: inherit; width: 100%; height: 100%; border-radius: inherit;">
        </div>
    </div>

</template>

<script>
    //{{ block "script-devices-addr" . }}
    //{{ end }}
</script>
{{ end }}
