package views

import "github.com/knackwurstking/picow-led/internal/components/layout"

templ HomePage() {
	@layout.Layout(layout.Props{
		Lang:  "de",
		Title: "PicoW LED",
	}) {
		<p>Im Aufbau</p>
	}
}
