package views

import "github.com/knackwurstking/picow-led/internal/components/layout"

templ HomePage() {
	@layout.Layout(layout.Props{
		Lang:  "de",
		Title: "PicoW LED",
	}) {
		<main class="w-screen h-screen flex items-center justify-center">
			<p>Im Aufbau</p>
		</main>
	}
}
